.headerBackGround {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/headerBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 422px;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerTopBar {
    display: flex;
    margin-bottom: 108px;
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.logoTitle {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.145em;
    color: #FFFFFF;
}

.headerLoginLink {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroTitle {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
    color: #FFFFFF;

}